.imglogo{
	width:50px;
	height:50px;
}

.formulario{
	display: block;
	width: 50%;
	margin:auto;
}

.formularioBotao{
	width:35%;
	display: block;
	float: left;
	margin:7%;
}

.titulo{
	font-size: 2em;
	font-weight: bold;	
}

.fotoPerfil{
	width: 30%;
	height: 30%;
	margin:auto;
	display:block;
}

.opcoesAdmin{
	display:block;
	width: 100%;
	margin:auto;
}

.opcoesAdminBotoes{
	width:25%;
	display: inline-block;
	float: left;
	margin:auto;	
}

.divTitulo{
	display:block;
	width: 100%;
	margin:auto;	
}